.form-field {
    margin-right: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.button-nav {
    margin: 0px 0px 0px 15px;
}

mat-toolbar {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    height          : 10%;
    padding         : 0px;
    opacity         : .9;
    background-color: white;
}

mat-label {
    font-size: 28pt;
    margin-left: 16px;
}

span {
    margin-right: 16px;
    font-size: 32pt;
}

.mat-raised-button {
    font-size: 28pt;
    height      : 64px;
    margin-right: 16px;
}

mat-icon.home {
    font-size: 16pt;
    margin-left: 8px;
    transform  : scale(2);
}

mat-icon.logout {
    font-size: 16pt;
    margin-left: 8px;
    transform  : scale(2);
}

.mat-icon-button {
    margin-left: 10px;
}

.container {
    height         : 90%;
    width          : 100%;
    opacity        : .9;
    display        : flex;
    justify-content: center;
    /* margin-top  : 10px;
    height         : 80%;
    display        : flex;
    flex-direction : column;
    align-items    : center; */
}

.component {
    margin: 5px;
}