.form-field {
    margin-right: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.button-nav {
    margin: 0px 0px 0px 15px; 
}

.text-align-center {
    text-align: center;
}

.align-center-form {
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}