@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';

* {
    cursor: url(./images/Cursor.png), auto !important;
}

html {
    height: 100%;
    width : 100%;
}

body {
    height                   : 100%;
    margin                   : 0% !important;
    display                  : flex;
    flex-direction           : column;
    font-family              : Roboto, "Helvetica Neue", sans-serif;
    background-image         : url(./images/Background.png);
    background-size          : cover;
}

app-root {
    height: 100%;
}

.mat-simple-snackbar {
    justify-content: center !important;
    color          : white;
    font-size      : 14pt;
}

.mat-horizontal-content-container {
    padding: 0 !important;
}

.mat-progress-bar-background {
    fill: #00d7ff;
}

.mat-sort-header-container {
    display        : flex;
    cursor         : pointer;
    align-items    : center;
    letter-spacing : normal;
    outline        : 0;
    justify-content: center;
    flex-direction : row;
}

.mat-paginator-container {
    min-height: 20px;
}