mat-card {
    top           : 10px;
    text-align    : center;
    box-shadow    : none;
    display       : flex;
    flex-direction: column;
    align-items   : stretch;
}

mat-card-title {
    font-size: 42pt;
}

button {
    height: 64px;
}

span,
button,
p,
.mat-form-field {
    font-size: 21pt;
}

mat-error,
mat-hint {
    font-size: 12pt;
}

.text-align-center {
    text-align: center;
}

.mat-form-field {
    width     : 75%;
    margin-top: 16px;
}

.mat-form-field-appearance-fill,
.mat-form-field-flex {
    margin-left : 5px;
    margin-right: 5px;
}

.mat-raised-button {
    background-color  : powderblue;
    margin-block-start: 1em;
    margin-block-end  : 1em;
}

.mat-progress-bar {
    width: 65%;
    margin-top: 20px;
    transform: scale(2);
}

::ng-deep .mat-step-header {
    padding: 12px;
}