<mat-card>

    <mat-card-title>Task Creator ✨</mat-card-title>

    <form [formGroup]="taskFormGroup">
        <mat-form-field appearance="fill">
            <mat-label>Priority</mat-label>
            <mat-select [value]=priority>
                <mat-option (click)="choosePriority(p)" *ngFor="let p of priorities" [value]="p">
                    {{priorityToString(p.toString())}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Name </mat-label>
            <input type="text" matInput placeholder="Name" formControlName="nameCtrl" required #name>
            <button *ngIf="this.taskFormGroup.controls.nameCtrl.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="this.taskFormGroup.controls.nameCtrl.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="nameCtrl.hasError('required')">
                Name is <strong>required</strong>!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" matInput formControlName="descriptionCtrl" #description></textarea>
        </mat-form-field>

        <div class="date-time-input">
            <mat-label>⌚ Finish time: </mat-label>
            <kendo-datetimepicker color="premium" [(value)]="finishTime"></kendo-datetimepicker>
        </div>

        <mat-slide-toggle color="primary" (click)="switchNotifyButton()">
            Notify me 🔔
        </mat-slide-toggle>
    </form>

    <mat-card-actions>
        <button mat-button (click)="clickAddButton()">
            Add
            <mat-icon>add</mat-icon>
        </button>
        <button mat-button (click)="onNoClick()">
            No, Thanks
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>