mat-card {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

mat-card-title {
    font-size: 42pt;
}

mat-card-actions {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

mat-form-field {
    min-width: 400px;
    display  : block;
    margin: 10px 0px;
}

textarea {
    height    : 400px;
    min-height: 25px;
    max-height: 600px;
    overflow  : auto;
}

input,
textarea,
button {
    font-size: 21pt;
}

mat-label,
mat-error {
    font-size: 14pt;
}