mat-card {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

mat-card-title {
    font-size: 42pt;
}

mat-slide-toggle {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

mat-card-actions {
    width          : 400px;
    padding-top    : 20px;
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
}

mat-form-field {
    min-width: 400px;
    display  : block;
    margin   : 10px 0px;
}

textarea {
    height    : 400px;
    min-height: 25px;
    max-height: 400px;
    overflow  : auto;
}

input,
textarea,
button,
mat-select {
    font-size: 21pt;
}

mat-label,
mat-error,
kendo-timepicker {
    font-size: 14pt;
}

.date-time-input {
    margin         : 10px 0;
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;
}